---
import Layout from '../layouts/Layout.astro'
import RedditBlackoutStatus from '../components/RedditBlackoutStatus.astro'

const title = 'Reddit Blackout 2023 Tracker'
---

<Layout title={title}>
  <main class='m-auto p-6 max-w-lg'>
    <h1 class='text-center text-4xl'>{title}</h1>
    <p class='text-neutral-400 text-center mt-2'>
      <a
        href='https://www.theverge.com/2023/6/5/23749188/reddit-subreddit-private-protest-api-changes-apollo-charges'
        target='_blank'
        class='text-neutral-300'>Read more</a
      > about why this happened.
    </p>
    <RedditBlackoutStatus />
    <p class='text-neutral-400 text-center mt-4 text-sm'>
      Notice something wrong? Feel free to <a
        href='https://www.github.com/nunogois/reddit-blackout'
        target='_blank'
        class='text-neutral-300'>open a PR</a
      >.<br />
      Built by <a
        href='https://www.nunogois.com'
        target='_blank'
        class='text-neutral-300'>Nuno Góis</a
      >, a lurking redditor that supports the cause.
    </p>
  </main>
</Layout>
